
.va-item
{
   -webkit-display:flex;
   display:flex;
   align-items:center;
}

.center
{
   display: flex;
   justify-content: center;
   flex-direction: column;
   height: 100%;
}

.navbar
{
   border-radius: 0;
   margin-bottom: 0;
}

.navbar-inverse
{
   background-color: black;
   color: white;
}

.center
{
   display: flex;
   display: -ms-flexbox;
   display: -webkit-flex;

   -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.red-heading
{
   color: #CC0000;
   font-size: 1.8em;
}

.purple-text
{
   a
   {
      color: #410099;
      font-weight: bold;
   }
}

p
{
   font-size: 1.2em;
}

button:focus
{
   -webkit-transition: all 0.30s ease-in-out;
   -moz-transition: all 0.30s ease-in-out;
   -ms-transition: all 0.30s ease-in-out;
   -o-transition: all 0.30s ease-in-out;
   box-shadow: 0 0 5px rgba(237, 2, 2, 1);
   padding: 3px 0px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 6px solid rgba(237, 2, 2, 1);
   outline: 1px solid #ed0202;
}

input[type=text]:focus, textarea:focus {
   box-shadow: 0 0 5px rgba(237, 2, 2, 1);
   padding: 3px 0px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 6px solid rgba(237, 2, 2, 1);
   outline: 1px solid #ed0202;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ed0202;
}

#heading
{
   height: 100vh;
   width: 100%;
   background-image: url(../img/portfolio-heading-background.png);
   background-size: cover;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   color: white;

   .container
   {
      text-align: center;
      height: 100%;

      .col-sm-8
      {
         height: 100%;

         h1
         {
            font-size: 5em;
            margin: 0;
            width: 100%;
         }

         button
         {
            margin: 0 auto;
            margin-top: 40px;
            padding: 15px 30px;
            border: 2px solid white;
            background-color: black;
            color: white;
            display: block;
            -webkit-transition: ease 500ms;

            &:hover
            {
               background-color: white;
               color: black;
               -webkit-transform: scale(1.2);
               font-weight: bold;
            }
         }
      }
   }
}

#about
{
   height: 100vh;
   margin-top: 100vh;
   position: relative;
   z-index: 50;
   background: #fafafa;
   text-align: center;

   .container
   {
      margin: 0 auto;

      .about-container
      {
         padding-top: 50px;
         h2
         {
            font-size: 3em;
            margin: 40px;
         }

         button
         {
            margin: 0 auto;
            margin-top: 40px;
            padding: 15px 30px;
            border: 2px solid black;
            background-color: white;
            color: black;
            display: block;
            -webkit-transition: ease 500ms;

            &:hover
            {
               background-color: black;
               color: white;
               -webkit-transform: scale(1.2);
               font-weight: bold;
            }
         }
      }
   }
}

#portfolio
{
   height: 90vh;
   position: relative;
   z-index: 100;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items:center;

   .container
   {
      padding: 80px 0;
      transform:translateY(25px);

      .about-gallery-content-wrapper
      {
         transition:all 800ms ease-in-out;
      }

      .about-gallery-content-wrapper,
      .about-gallery-item
      {
         height:100%;
      }

      .about-gallery-item
      {
         display:flex;
         flex-direction:column;
         align-self:center;
         justify-content:center;
         height:100%;

         &.active
         {
            /*display:block;*/
         }

         .about-gallery-item-content
         {
            @extend .va-item;
         }
      }

      .about-gallery-content-container
      {
         height:70vh;
         overflow:hidden;

         .portfolio-description
         {
            padding-top: 30px;
            font-size: 1.2em;
         }

         .grid-item
         {
            padding: 15px;

            img
            {
               max-height: 195px;

               @media screen and (min-width: 1200px)
               {
                  max-height: 245px;
               }
            }
         }

      }

      .col-sm-1
      {
         .gallery-bar
         {
            width: 5px;
            margin: 0 auto;
            background-color: gray;
            position: relative;

            *
            {
               transition:all 1s ease-in-out;
            }

            .gallery-dot
            {
               $scaleAmount: 1.2;
               $dotDiameter: 20px;
               /*height: 30px;
               width: 30px;
               margin: 0 auto;
               //margin-bottom: 50px;
               background-color: black;
               border-radius: 100%;
               position: relative;
               left: -12px;
               */
               position:relative;
               width:100%;
               z-index: 100;

               &.active
               {
                  &::after
                  {
                     background-color:#CC0000;
                  }
               }

               &:hover
               {
                  &::after
                  {
                     //transform:scale($scaleAmount) translateX(calc(-50% + calc(calc(#{$dotDiameter} / 2) * #{$scaleAmount})));
                     transform:scale($scaleAmount) translate(-50%, calc(calc(#{-$dotDiameter} / 2) / #{$scaleAmount}));
                     transform-origin:center left;
                  }
               }

               &::after
               {
                  content:'';
                  background-color:black;
                  border-radius:100%;
                  cursor:pointer;
                  height:$dotDiameter;
                  left:50%;
                  position:absolute;
                  transform:translate(-50%, calc(#{-$dotDiameter} / 2));
                  width:$dotDiameter;
                  transition:all 500ms ease-in-out;

                  &:hover
                  {

                  }
               }

               &:last-child
               {
                  margin-bottom: 0;
               }
            }

            .gallery-dot-overlay
            {
               width: 100%;
               height: 0;
               background-color:#CC0000;
               position: absolute;
               top:0;


               &.animateDown
               {
                  -webkit-animation-name: animateOverlayDown;
                  -webkit-animation-duration: 1s;
                  -webkit-iteration-count: 1;
                  -webkit-timing-function: linear;
                  -webkit-fill-mode:both;
               }

               &.animateUp
               {
                  -webkit-animation-name: animateOverlayUp;
                  -webkit-animation-duration: 1s;
                  -webkit-iteration-count: 1;
                  -webkit-timing-function: linear;
                  -webkit-fill-mode:both;
               }

               @-webkit-keyframes animateOverlayDown
               {
                  0% {height: 0;}
                  25% {height: 60px;}
                  50% {height: 40px;}
                  75% {height: 20px;}
                  100% {height: 0;}
               }

               @-webkit-keyframes animateOverlayUp
               {
                  0% {height: 0;}
                  25% {height: 20px;}
                  50% {height: 40px;}
                  75% {height: 60px;}
                  100% {height: 0;}
               }
            }
         }
      }
   }
}

#get-started
{
   height: 10vh;
   position: relative;
   z-index: 200;
   background-color: white;

   .get-started
   {
      margin: 0 auto;

      h3
      {
         float: left;
         margin: 0;
         padding-right: 30px;
         padding-top: 13px;
      }

      button
      {
         float: left;
         margin: 0 auto;
         padding: 15px 30px;
         border: 2px solid black;
         background-color: white;
         color: black;
         display: block;
         -webkit-transition: ease 500ms;

         &:hover
         {
            background-color: black;
            color: white;
            -webkit-transform: scale(1.2);
            font-weight: bold;
         }
      }
   }
}

#contact-form
{
   background-color: black;
   position: relative;
   z-index: 200;
   color: white;
   text-align: center;

   h2
   {
      margin: 0;
      padding-top: 40px;
   }

   p
   {
      margin-top: 15px;
      margin-bottom: 30px;
   }

   form
   {
      width: 400px;
      margin: 0 auto;

      input[type=text]
      {
         width: 100%;
         margin: 15px;
         border-radius: 5px;
         border: none;
         height: 30px;
      }
   }
}
